{%extends "registration/base.html"%}
{% load bootstrap3 %}
{% block content %}
<div class="container">
  <div class="row">
    

    <div class="col-md-8">
      {% if form.errors %}
      <p> Password or Username is incorrect </p>
      {% endif %}
      <div class="card" style="width: 20rem; margin-top:70px;">

        <div class="card-body">
          <h3 class="text-center" style="font-family: 'Lobster Two', cursive;">Instagram </h3>
        </div>
      </div>

        <form action="/accounts/login/" method="post">
          {% csrf_token %}
          {% bootstrap_form form%}

          <div class="form-group">
            <input type="submit" class="btn btn-primary btn-sm" value="Signin">

          </div>
        </form>
      <hr>
      <p class="container">you dont have an account? <a href="/accounts/register/"> Sign Up</a></p>
      <input type="hidden" name="next" value="{{next}}">
    </div>
    <div class="col-md-1">
      <img src="/static/images/ig3.png" alt="instagram">
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

{% endblock %}